header{
    display: flex;

    background-color: #D38BED;
}

header h1{
    display: flex;
    justify-content: flex-start;

    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 35px;

    color: #EBF70F;

    border: 1px solid #060603;
}

main{
    background-color: #4E2B65;
}

.container-start p{
    display: flex;
    justify-content: center;
    
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #EBF70F;
}

.container-start h1{
    display: flex;
    justify-content: center;
    
    font-family: 'Coiny';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 24px;
    text-align: center;

    color: #EBF70F;
}
    

.left{
    display: flex;
    justify-content: flex-start;
}

.left img {
    display: flex;
    justify-content: center;
}

.left .start-btn{
    display: flex;
    justify-content: center;

    background: #D38BED;
    border-radius: 10px;
}

.left p {
    display: flex;
    justify-content: center;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;

    color: #000000;
}

.right{
    display: flex;
    justify-content: flex-end;
}

.right h2, .right ol {
    display: flex;
    justify-content: center;

    font-family: 'Modak';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;

    color: #FBFF00;
} 

.block {
    background-color: red;
    width: 125px;
    height: 125px;
}

